body {
  height: 100%;
}

.container-login {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(82, 128, 198, 0.12);
}
.header-login .logo-header .link_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-login .logo-header div {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.48px;
}
.header-login .header-container-btns {
  max-width: 123px;
  width: 100%;
}
.header-login .header-container-btns .signup-login-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
  text-decoration: none;
  background: #3C72FF;
  border-radius: 17px;
  color: white;
  padding: 0.6rem 1.9rem;
}
.header-login .header-container-btns :hover {
  color: #3C72FF;
  border: 1px solid #3C72FF;
  background-color: transparent;
}

.main-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(50vh - 325px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-login-container {
  height: 510px;
}
.main-login-container .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 515px;
  height: 511px;
  background: rgba(228, 236, 255, 0.3490196078);
  border-radius: 24px;
}
.main-login-container .login-container img {
  margin-bottom: 61px;
  width: 95.7px;
  height: 91px;
}
.main-login-container .login-container input {
  width: 365px;
  height: 51px;
}
.main-login-container .login-container .input-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  margin-bottom: 19px;
  border-radius: 18px;
  border: 2px solid rgba(60, 115, 255, 0.3254901961);
  outline: none;
  background-color: rgba(228, 236, 255, 0.3490196078);
  padding-left: 19px;
}
.main-login-container .login-container .input-main2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  margin-bottom: 27px;
  border-radius: 18px;
  outline: none;
  border: 2px solid rgba(60, 115, 255, 0.3254901961);
  background-color: rgba(228, 236, 255, 0.3490196078);
  padding-left: 19px;
}

.login-btn-container {
  margin-bottom: 24px;
}
.login-btn-container .login-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
  color: #fff;
  background: #3C72FF;
  padding: 11px 164px;
  border-radius: 17px;
  text-decoration: none;
}
.login-btn-container :hover {
  color: #3C72FF;
  border: 1px solid #3C72FF;
  background-color: transparent;
}

.forget-btn {
  margin-bottom: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14.62px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.back-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.footer-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(82, 128, 198, 0.12);
  bottom: 0;
  height: 80px;
  position: fixed;
  width: 100%;
}
.footer-login .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  color: rgba(0, 0, 0, 0.35);
}
.footer-login .footer-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  color: rgba(0, 0, 0, 0.35);
}