@import '/src/css/styles.css';
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(82, 128, 198, 0.12);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
}
header .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .header .logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
header .header .logo-header .link_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
header .header .logo-header .link_header div {
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.48px;
  color: #000;
}
header .header .links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}
header .header .links-header a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.48px;
}
header .header .buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header .buttons-header .btn-login {
  display: inline-block;
  background: #E4ECFF;
  color: #3C72FF;
  padding: 0.6rem 1.7rem;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
}
header .header .buttons-header .button-header-signup .btn-sign {
  display: inline-block;
  background: #3C72FF;
  border: 1px solid transparent;
  color: #fff;
  padding: 0.6rem 1.8rem;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.78px;
}
header .header .buttons-header .button-header-signup :hover {
  color: #3C72FF;
  border: 1px solid #3C72FF;
  background-color: transparent;
}

@media (max-width: 1120px) {
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header .links-header {
    display: none;
  }
  header .header .buttons-header .button-header-signup {
    display: none;
  }
}