@import '/src/css/styles.css';
.main-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 5rem;
}

.hello-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btns-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.try-for-free {
  display: inline-block;
  background: #3C72FF;
  color: #fff;
  padding: 0.7rem 4.375rem;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

.features {
  display: inline-block;
  background: #E4ECFF;
  color: #3C72FF;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

.daltter-main {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 76px;
  line-height: 79.34px;
  color: #1F2D49;
}

.email-main {
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21.68px;
}

.daltter-text {
  color: #3C72FF;
  font-style: italic;
  font-weight: 800;
}

.main-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  max-height: 507px;
  margin: 0 auto;
  margin-top: 180px;
}

.second-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.second-right span {
  color: #3C72FF;
  font-style: italic;
}

.second-main {
  margin: 0;
  color: #1F2D49;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 64px;
  line-height: 66.82px;
}

.second-text {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 22.98px;
}

.second-try-button {
  margin-top: 22px;
  display: inline-block;
  background: #3C72FF;
  color: #fff;
  padding: 0.7rem 4rem;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

.main-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-third h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 50.11px;
  color: #3C72FF;
  margin-top: 197px;
  margin-bottom: 0;
  text-align: center;
}

.card-container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.card1 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 41.76px;
  margin: 0;
}

.card1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 351px;
  height: auto;
  background-color: #E4ECFF;
  border-radius: 48px;
  text-align: center;
}

.price-addit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.price-addit .price-number {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  text-decoration: line-through;
  color: #7A8AA9;
  margin: 0;
}
.price-addit .price-percent {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16.7px;
  color: #67799E;
  background-color: #BDC9E7;
  padding: 0.2rem;
  border-radius: 20px;
  margin: 0;
}

.price-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price-main .text-1 {
  margin-top: 6px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  color: #1F2D49;
}
.price-main .text-2 {
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
  color: #1F2D49;
}

.plans-container {
  margin-top: 41px;
  margin-bottom: 41px;
}

.preferences {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 175px;
}
.preferences .third-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 12px;
}
.preferences .third-text p {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 25.06px;
  color: rgba(31, 45, 73, 0.6980392157);
}
.preferences .third-text .text-x {
  padding: 0.2rem;
}

.third-btn-try {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3C72FF;
  padding: 10px 92px;
  border-radius: 48px;
}
.third-btn-try a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

.third-card-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 27.82px;
  color: rgba(31, 45, 73, 0.6666666667);
  max-width: 279px;
  height: 188px;
}

.third-btn-contact {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3C72FF;
  padding: 10px 92px;
  border-radius: 48px;
}
.third-btn-contact a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

.main-fourth {
  margin-top: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-fourth h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 41.76px;
}
.main-fourth p {
  font-weight: 500;
  font-size: 40px;
  line-height: 41.76px;
}

.leave-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}

.email-address {
  background-color: #E4ECFF;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 29.23px;
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.476);
}

.email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.email-input a {
  color: #fff;
  text-decoration: none;
  background: #779DFF;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  padding: 1rem 1.5rem;
  font-weight: 900;
  font-size: 36px;
  line-height: 37.58px;
  font-family: "Inter", sans-serif;
}