@import '/src/css/styles.css';

@mixin def($f, $a, $b){
    font-weight: $f;
    font-size: $a;
    line-height: $b;
}

body{
    margin: 0;
}

.main-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 15vh;
}
.hello-right {
    display: flex;
}
.hello-left {
    display: flex;
    flex-direction: column;
}
.btns-first {
    display: flex;
    gap: 1rem;
}

.transparent-btn-try {
    & .try-for-free {
        display: inline-block;
        border: 1px solid transparent;
        background: #3C72FF; 
        color: #fff; 
        padding: 0.7rem 4.375rem; 
        text-decoration: none; 
        border-radius: 17px;
        @include def(700, 24px, 28.18px)
    }
    & :hover {
        color: #3C72FF;
        border: 1px solid #3C72FF;
        background-color: transparent;
    }
}
.features {
    display: inline-block; 
    background: #E4ECFF; 
    color: #3C72FF; 
    padding: 0.7rem 1.5rem; 
    text-decoration: none; 
    border-radius: 6px;
    @include def(700, 24px, 28.18px)
}
.daltter-main {
    margin-top: 0;
    margin-bottom: 12px;
    @include def(700, 76px, 79.34px);
    color: #1F2D49;
}
.email-main {
    margin-bottom: 29px;
    @include def(600, 20px, 21.68px)
}
.daltter-text {
    color: #3C72FF;
    font-style: italic;
    font-weight: 800;
}




.main-second {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    max-height: 507px;
    margin: 0 auto;
    margin-top: 180px;
}
.second-left {
    display: flex;
}
.second-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & span{
        color: #3C72FF;
        font-style: italic;
    }
}
.second-main {
    margin: 0;
    color: #1F2D49;
    margin-bottom: 12px;
    @include def(800, 64px, 66.82px)
}
.second-text {
    margin: 0;
    @include def(600, 20px, 22.98px)
}
.second-btn {
    .second-try-button {
        margin-top: 22px;
        display: inline-block; 
        background: #3C72FF; 
        border: 1px solid transparent;
        color: #fff; 
        padding: 0.7rem 4rem; 
        text-decoration: none; 
        border-radius: 17px;
        @include def(700, 24px, 28.18px)
    }
    & :hover {
        color: #3C72FF;
        border: 1px solid #3C72FF;
        background-color: transparent;
    }
}




.main-third {
    display: flex;
    justify-content: center;
    flex-direction: column;
    & h1{
        @include def(800, 48px, 50.11px);
        color: #3C72FF;
        margin-top: 197px;
        margin-bottom: 0;
        text-align: center;
    }
}
.card-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.card3 {
    & h2{
        text-align: center;
        @include def(700, 40px, 41.76px);
        margin: 0;
    }
}
.card3-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 351px;
    height: 452px;
    background-color: #E4ECFF;
    border-radius: 48px;
    text-align: center;
}
.price-addit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & .price-number{
        font-family: 'Inter', sans-serif;
        @include def(500, 20px, 20.88px);
        text-decoration: line-through;
        color: #7A8AA9;
        margin: 0;
    }
    & .price-percent{
        font-family: 'Inter', sans-serif;
        @include def(500, 16px, 16.7px);
        color: #67799E;
        background-color: #BDC9E7;
        padding: 0.2rem;
        border-radius: 20px;
        margin: 0;
    }
}
.price-main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .text-1{
        margin-top: 6px;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 700;
        color: #1F2D49;
    }
    & .text-2{
        font-family: 'Inter';
        font-size: 40px;
        font-weight: 700;
        color: #1F2D49;
    }
}
.plans-container{
    margin-top: 41px;
    margin-bottom: 41px;
}
.preferences{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 175px;
    & .third-text{
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: left;
        margin-bottom: 12px;
        & p{
            margin: 0;
            @include def(700, 24px, 25.06px);
            color: #1f2d49b2;
        }
        & .text-x{
            padding: 0.2rem;
        }
    }
}
.third-btn-try {
    margin-top: 27px;
    display: flex;
    & a{
        background-color: #3C72FF;
        border: 1px solid transparent;
        border-radius: 48px;
        padding: 10px 92px;
        text-decoration: none;
        color: #fff;
        @include def(700, 24px, 28.18px);
    }
    & :hover {
        color: #3C72FF;
        border: 1px solid #3C72FF;
        background-color: transparent;
    }
}
.third-card-text{
    @include def(700, 24px, 27.82px);
    color: #1f2d49aa;
    max-width: 279px;
    height: 195px;
}
.third-btn-contact{
    margin-top: 31px;
    display: flex;
    & a{
        background-color: #3C72FF;
        border: 1px solid transparent;
        padding: 10px 92px;
        border-radius: 48px;
        text-decoration: none;
        color: #fff;
        @include def(700, 24px, 28.18px);
    }
    & :hover {
        color: #3C72FF;
        border: 1px solid #3C72FF;
        background-color: transparent;
    }
}
.third-btn-contact-three{
    margin-top: 27px;
    display: flex;
    & a{
        background-color: #3C72FF;
        border: 1px solid transparent;
        padding: 10px 92px;
        border-radius: 48px;
        text-decoration: none;
        color: #fff;
        @include def(700, 24px, 28.18px);
    }
    & :hover {
        color: #3C72FF;
        border: 1px solid #3C72FF;
        background-color: transparent;
    }
}


.main-fourth {
    margin-top: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h1 {
        @include def(700, 40px, 41.76px);
    }
    & p{
        @include def(500, 40px, 41.76px);
    }
}
.leave-email {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 21px;
}
.email-address {
    background-color: #E4ECFF;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border: none;
    @include def(500, 28px, 29.23px);
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.476);
    outline: none;
}
.email-input {
    display: flex;
    text-align: center;
    justify-content: center;
    & a{
        color: #fff;
        text-decoration: none;
        background: #779DFF;
        border-top-right-radius: 27px;
        border-bottom-right-radius: 27px;
        padding: 1rem 1.5rem;
        @include def(900, 36px, 37.58px);
        font-family: 'Inter', sans-serif;
    }
}