@import '/src/css/styles.css';
body {
  margin: 0;
}

.main-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 15vh;
}

.hello-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1120px) {
  .hello-right img {
    display: none;
  }
  .main-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hello-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btns-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.transparent-btn-try .try-for-free {
  display: inline-block;
  border: 1px solid transparent;
  background: #3C72FF;
  color: #fff;
  padding: 0.7rem 4.375rem;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}
.transparent-btn-try :hover {
  color: #3C72FF;
  border: 1px solid #3C72FF;
  background-color: transparent;
}

.features {
  display: inline-block;
  background: #E4ECFF;
  color: #3C72FF;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

.daltter-main {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 76px;
  line-height: 79.34px;
  color: #1F2D49;
}

.email-main {
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21.68px;
}

.daltter-text {
  color: #3C72FF;
  font-style: italic;
  font-weight: 800;
}

.main-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  max-height: 507px;
  margin: 0 auto;
  margin-top: 180px;
}

.second-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1120px) {
  .second-left img {
    display: none;
  }
  .main-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.second-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.second-right span {
  color: #3C72FF;
  font-style: italic;
}

.second-main {
  margin: 0;
  color: #1F2D49;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 64px;
  line-height: 66.82px;
}

.second-text {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 22.98px;
}

.second-btn .second-try-button {
  margin-top: 22px;
  display: inline-block;
  background: #3C72FF;
  border: 1px solid transparent;
  color: #fff;
  padding: 0.7rem 4rem;
  text-decoration: none;
  border-radius: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}
.second-btn :hover {
  color: #3C72FF;
  border: 1px solid #3C72FF;
  background-color: transparent;
}

.main-fourth {
  margin-top: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-fourth h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 41.76px;
}
.main-fourth p {
  font-weight: 500;
  font-size: 40px;
  line-height: 41.76px;
}

@media (max-width: 1120px) {
  .main-fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-fourth .leave-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-fourth h1 {
    text-align: center;
  }
}
.leave-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}

.email-address {
  background-color: #E4ECFF;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 29.23px;
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.476);
  outline: none;
}

.email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.email-input a {
  color: #fff;
  text-decoration: none;
  background: #779DFF;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  padding: 1rem 1.5rem;
  font-weight: 900;
  font-size: 36px;
  line-height: 37.58px;
  font-family: "Inter", sans-serif;
}