@mixin def($f, $a, $b){
    font-weight: $f;
    font-size: $a;
    line-height: $b;
}


body{
    height: 100%;
}
.container-login{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(82,128,198,.12); 
    & .logo-header {
            & .link_header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
            & div{
            @include def(700, 20px, 23.48px);
        }
    }
    & .login-signup-btn{
        @include def(700, 16px, 18.78px);
        text-decoration: none;
        background: #E4ECFF;
        border-radius: 17px;
        color: #3C72FF;
        padding: 0.6rem 2.3rem;
    }
}
.main-signup {
    display: flex;
    justify-content: center;
    margin-top: calc(50vh - 365px);
    flex: 1 1 auto;
}
.main-signup-container{
    height: 590px;
    background: #e4ecff59;
    & .signup-container {
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 515px;
        height: 550px;
        border-radius: 24px;
        & img{
            margin-bottom: 25px;
            width: 95.7px;
            height: 91px;
        }
        & input {
            width:  365px;
            height: 51px;
        }
        & .input-main-sign{
            @include def(500, 20px, 20.88px);
            margin-bottom: 19px;
            border-radius: 18px;
            border: 2px solid #3c73ff53;
            outline: none;
            background-color: #e4ecff59;
            padding-left: 19px;
        }
        & .input-main2-sign{
            @include def(500, 20px, 20.88px);
            margin-bottom: 38px;
            border-radius: 18px;
            outline: none;
            border: 2px solid #3c73ff53;
            background-color: #e4ecff59;
            padding-left: 19px;
        }
        & .input-main3-sign{
            @include def(500, 20px, 20.88px);
            margin-bottom: 19px;
            border-radius: 18px;
            border: 2px solid #3c73ff53;
            outline: none;
            background-color: #e4ecff59;
            padding-left: 19px;
        }
        & .input-main4-sign{
            @include def(500, 20px, 20.88px);
            margin-bottom: 19px;
            border-radius: 18px;
            outline: none;
            border: 2px solid #3c73ff53;
            background-color: #e4ecff59;
            padding-left: 19px;
        }
    }
}
.signup-btn-container {
    margin-bottom: 35px;
    .signup-btn {
        @include def(700, 24px, 28.18px);
        color: #fff;
        background: #3C72FF;
        padding: 12px 150px;
        border-radius: 17px;
        text-decoration: none;
    }
    & :hover {
        color: #3C72FF;
        border: 1px solid #3C72FF;
        background-color: transparent;
    }
}
.attention-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 344px;
    & .attention-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 22px;
        @include def(500, 14px, 14.62px);
        text-decoration: none;
        color: #00000066;
        text-align: center;
        & a{
            text-decoration: none;
            @include def(500, 14px, 14.62px);
            color: #00000066;
            border-bottom: 1px solid #00000042
        }
    }
}

.back-btn {
    @include def(500, 20px, 20.88px);
    color: #00000048;
    text-decoration: none;
}


.footer-signup {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(82,128,198,.12);
    bottom: 0;
    height: 80px;
    position: fixed;
    width: 100%;
    & .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include def(500, 20px, 20.88px);
        color: rgba(0,0,0,.35);
        & a{
            text-decoration: none;
            @include def(500, 20px, 20.88px);
            color: rgba(0,0,0,.35);
        }
    }
}