@import "/src/css/styles.css";
.main-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-third h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 50.11px;
  color: #3c72ff;
  margin: 197px auto 0px auto;
  max-width: 631px;
}
.main-third .card-container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-third .card-container .card1 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 41.76px;
  margin: 0;
}
.main-third .card-container .card1 .card1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 351px;
  height: 452px;
  background-color: #e4ecff;
  border-radius: 48px;
  text-align: center;
}
.main-third .card-container .card1 .card1-container .plans-container {
  margin-top: 41px;
  margin-bottom: 41px;
}
.main-third .card-container .card1 .card1-container .plans-container .preferences {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 175px;
}
.main-third .card-container .card1 .card1-container .plans-container .preferences .third-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.main-third .card-container .card1 .card1-container .plans-container .preferences .third-text img {
  margin-left: 10px;
}
.main-third .card-container .card1 .card1-container .plans-container .preferences .third-text p {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 25.06px;
  color: rgba(31, 45, 73, 0.6980392157);
}
.main-third .card-container .card1 .card1-container .plans-container .preferences .third-text .text-x {
  padding: 0.2rem;
}
.main-third .card-container .card1 .card1-container .plans-container .preferences-three {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 175px;
}
.main-third .card-container .card1 .card1-container .plans-container .preferences-three .third-card-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 27.82px;
  color: rgba(31, 45, 73, 0.6666666667);
  max-width: 279px;
  height: 195px;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-try {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-try a {
  background-color: #3c72ff;
  border: 1px solid transparent;
  border-radius: 48px;
  padding: 10px 92px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-try :hover {
  color: #3c72ff;
  border: 1px solid #3c72ff;
  background-color: transparent;
}
.main-third .card-container .card1 .card1-container .plans-container .price-addit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.main-third .card-container .card1 .card1-container .plans-container .price-addit .price-number {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20.88px;
  text-decoration: line-through;
  color: #7a8aa9;
  margin: 0;
}
.main-third .card-container .card1 .card1-container .plans-container .price-addit .price-percent {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16.7px;
  color: #67799e;
  background-color: #bdc9e7;
  padding: 0.2rem;
  border-radius: 20px;
  margin: 0;
}
.main-third .card-container .card1 .card1-container .plans-container .price-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-third .card-container .card1 .card1-container .plans-container .price-main .text-1 {
  margin-top: 6px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  color: #1f2d49;
}
.main-third .card-container .card1 .card1-container .plans-container .price-main .text-2 {
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
  color: #1f2d49;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-contact-three {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-contact-three a {
  background-color: #3c72ff;
  border: 1px solid transparent;
  padding: 10px 92px;
  border-radius: 48px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-contact-three :hover {
  color: #3c72ff;
  border: 1px solid #3c72ff;
  background-color: transparent;
}
.main-third .card-container .card1 .card1-container .plans-container .third-btn-contact-three button {
  background-color: #3c72ff;
  border: 1px solid transparent;
  padding: 10px 92px;
  border-radius: 48px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
}

@media (max-width: 650px) {
  .main-third h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    margin: 197px 15px 0px 15px;
    font-weight: 800;
    font-size: 40px;
    line-height: 42.11px;
  }
}